<!DOCTYPE html>
<html>
<head>
    <title>Ascii Art Web</title>
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>
    <div class="wrapper">
    <div class="form-box text">
        <h2>ASCII ART WEB</h2>
    <form action="/ascii-art" method="post">
        <div class="input-text">
            <textarea name="input" id="inputstring" required></textarea>
            <label>Enter your text...</label>
        </div>
        <div class="banner">
            <input type="radio" id="Standard" name="banner" value="standard.txt" checked>
            <label for="Standard">Standard</label>
            <input type="radio" id="Shadow" name="banner" value="shadow.txt">
            <label for="Shadow">Shadow</label>
            <input type="radio" id="Thinkertoy" name="banner" value="thinkertoy.txt">
            <label for="Thinkertoy">Thinkertoy</label>
        </div>
        
        <div>
            <button class="submit-button" type="submit">CONVERT TO ASCII ART</button>
        </div>
        </form>
    </div>
</div>
<footer>
    <p>&copy; 2024 ASCII ART WEB | Created by <a href="https://www.linkedin.com/in/simo404/" target="_blank">BAKHOUCH</a> at <a href="https://zone01oujda.ma/" target="_blank">Zone01Oujda</a></p>
</footer>
</body>
</html>