<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
    <title>Ascii Art Web</title>
</head>
<body>
    <div class="wrapper-output">
        <pre class="output">{{ . }}</pre>
        <form action="/">
            <button class="submit-button">Return home</button>
        </form>
    </div>
    <footer>
        <p>&copy; 2024 ASCII ART WEB | Created by <a href="https://www.linkedin.com/in/simo404/" target="_blank">BAKHOUCH</a> at <a href="https://zone01oujda.ma/" target="_blank">Zone01Oujda</a></p>
    </footer>
</body>
</html>